<div class="row">
    <div class="col-xs-12">
        <a (click)="goBack()">Back</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label for="frontImage">Front facing camera:</label>
        <input id="frontImage" type="file" accept="image/*" capture="user" (change)="uploadFrontFile($event)" />
        <div *ngIf="frontUploadPercent">{{ frontUploadPercent | async }}%</div>
    </div>
</div>
<div class="row display">
    <div class="col-xs-3" *ngFor="let frontImageURL of frontImages">
        <img [src]="frontImageURL" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label for="backImage">Back facing camera:</label>
        <input id="backImage" type="file" accept="image/*" capture="environment" (change)="uploadBackFile($event)" />
        <div *ngIf="backUploadPercent">{{ backUploadPercent | async }}%</div>
    </div>
</div>
<div class="row display">
    <div class="col-xs-3" *ngFor="let backImageURL of backImages">
        <img [src]="backImageURL" />
    </div>
</div>
