<div class="row">
    <div class="col-xs-12">
        <a (click)="goBack()">Back</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="pull-left" color="primary" mat-raised-button (click)="findMe()">Find me</button>
        <button class="pull-right" color="primary" mat-raised-button (click)="trackMe()">Track me</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <agm-map (mapReady)="mapReady($event)" [maxZoom]="maxZoom" [latitude]="35.70166154" [longitude]="-21.0578489">
            <agm-marker [agmFitBounds]="true" [latitude]="currentLat" [longitude]="currentLong"></agm-marker>
            <agm-direction [origin]="origin" [destination]="destination" [travelMode]="'WALKING'"></agm-direction>
        </agm-map>
    </div>
</div>
