<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Welcome to DotProof</h1>
        </div>
    </div>
    <router-outlet></router-outlet>
    <small>Better than EDG</small>
    <!--
    <a href="intent:#Intent;package=com.android.hardware.camera;action=ACTION_IMAGE_CAPTURE;end">TEST cam 3</a>
    -->
</section>
