<nav>
    <ul>
        <li><a routerLink="/geolocation">Geolocation</a></li>
        <li><a routerLink="/audio">Audio</a></li>
        <li><a routerLink="/image">Image</a></li>
        <li><a routerLink="/video">Video</a></li>
    </ul>
</nav>
